{% extends 'ProjectModel/extras/base.html' %}
{% load static %}

{% block content %}

<section class="text-gray-400 bg-gray-900 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-white">All Products</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical.</p>
      <div class="flex mx-auto border-2 border-red-500 rounded overflow-hidden mt-6">
        <a href="{% url 'ProjectModel:products-page' %}" class="py-1 px-4 text-white focus:outline-none">All</a>
          {% for category in categories %}
            <a href="{{ category.get_category_url }}" class="py-1 px-4 text-gray-300 focus:outline-none">{{ category.title }}</a>
          {% endfor %}
      </div>
    </div>

      <div class="flex flex-wrap -m-4">
        {% for product in category.product_set.all %}
          <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
            <a href="{{ product.get_product_page_url }}" class="block relative h-48 rounded overflow-hidden">
              <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://dummyimage.com/420x260">
            </a>
            <div class="mt-4">
              <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">{{ product.category.title | upper }}</h3>
              <h2 class="text-white title-font text-lg font-medium">{{ product.title }}</h2>
              <p class="mt-1">$16.00</p>
            </div>
          </div>
        {% endfor %}
    </div>
  </div>
</section>

{% endblock content %}
